In [86]:
import pandas as pd
import numpy as np
df = pd.read_csv('premierleague.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4070 entries, 0 to 4069
Columns: 114 entries, Unnamed: 0 to performance_acum_away
dtypes: float64(100), int64(7), object(7)
memory usage: 3.5+ MB

In [87]:
df = df[['date','home_team','away_team', 'goal_home_ft','goal_away_ft','home_passes','away_passes', 'home_possession','away_possession','home_shots','home_shots_on_target','away_shots','away_shots_on_target']]
df['date'] = pd.to_datetime(df['date'])
df = df.set_index('date')
df = df.sort_index()
df['home_win'] = [False for i in range(len(df['home_team']))]
df['away_win'] = [False for i in range(len(df['away_team']))]
df['draw'] = [False for i in range(len(df['away_team']))]

for i in range(len(df['away_team'])): 
    if df.iloc[i,2] > df.iloc[i, 3]: df.iloc[i, 12] = True
    elif df.iloc[i,2] > df.iloc[i, 3]: df.iloc[i, 13] = True
    else : df.iloc[i,14] = True
df.to_csv('pl.csv')

True

In [88]:
df.describe()

,goal_home_ft,goal_away_ft,home_passes,away_passes,home_possession,away_possession,home_shots,home_shots_on_target,away_shots,away_shots_on_target
count,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000
mean,1.535627,1.200737,450.428993,430.422604,51.230393,48.769607,14.545455,4.820885,11.694103,3.949140
std,1.304315,1.175965,125.676926,120.259510,11.529756,11.529756,5.768558,2.633621,4.893512,2.298582
min,0.000000,0.000000,176.000000,169.000000,18.000000,17.100000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,360.000000,341.000000,43.100000,40.400000,10.000000,3.000000,8.000000,2.000000
50%,1.000000,1.000000,433.000000,416.000000,51.100000,48.900000,14.000000,5.000000,11.000000,4.000000
75%,2.000000,2.000000,527.000000,504.000000,59.600000,56.900000,18.000000,6.000000,15.000000,5.000000
max,9.000000,9.000000,1015.000000,976.000000,82.900000,82.000000,44.000000,17.000000,32.000000,15.000000

In [89]:
home = df.filter(regex='home')
home.describe()

,goal_home_ft,home_passes,home_possession,home_shots,home_shots_on_target
count,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000
mean,1.535627,450.428993,51.230393,14.545455,4.820885
std,1.304315,125.676926,11.529756,5.768558,2.633621
min,0.000000,176.000000,18.000000,0.000000,0.000000
25%,1.000000,360.000000,43.100000,10.000000,3.000000
50%,1.000000,433.000000,51.100000,14.000000,5.000000
75%,2.000000,527.000000,59.600000,18.000000,6.000000
max,9.000000,1015.000000,82.900000,44.000000,17.000000

In [90]:
away = df.filter(regex='away')
away.loc[df["away_team"] == 'Liverpool','goal_away_ft'].sum()

347